
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [SId], [Name]) VALUES (1, 1, N'New Delhi')
INSERT [dbo].[Cities] ([CityId], [SId], [Name]) VALUES (2, 1, N'Mehrauli')
INSERT [dbo].[Cities] ([CityId], [SId], [Name]) VALUES (3, 1, N'Firozabad')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
Select * From Skills
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SklId], [JPId], [Name]) VALUES (1, 1, N'Problem-solving')
INSERT [dbo].[Skills] ([SklId], [JPId], [Name]) VALUES (2, 1, N'Databases')
INSERT [dbo].[Skills] ([SklId], [JPId], [Name]) VALUES (3, 1, N'Time management')


SET IDENTITY_INSERT [dbo].[Skills] OFF

SET IDENTITY_INSERT [dbo].[Cities] OFF
GO


SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Name], [Email], [Password], [Comment], [JobProfileId], [Status]) VALUES (1, N'Gulshan Kumar', N'gulshankumar.mailid01@gmail.com', N'Gulshan@123', N'Thanks', 1, 1)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CId], [Name]) VALUES (1, N'India')
INSERT [dbo].[Countries] ([CId], [Name]) VALUES (2, N'Shrilanka')
INSERT [dbo].[Countries] ([CId], [Name]) VALUES (3, N'USA')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPosts] ON 

INSERT [dbo].[JobPosts] ([JobPostId], [JobProfileId], [MinExp], [MaxExp], [MinSal], [MaxSal], [NoOfVac], [NoticePeriod], [Comment], [InsertedDate], [Status]) VALUES (1, 1, 2, 5, 25000, 50000, 5, 15, N'Thanks', CAST(N'2024-04-01T15:40:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[JobPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[JobProfile] ON 

INSERT [dbo].[JobProfile] ([JPId], [Name]) VALUES (1, N'Dotnet')
INSERT [dbo].[JobProfile] ([JPId], [Name]) VALUES (2, N'Php')
INSERT [dbo].[JobProfile] ([JPId], [Name]) VALUES (3, N'Python')
SET IDENTITY_INSERT [dbo].[JobProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([SId], [CId], [Name]) VALUES (1, 1, N'Delhi')
INSERT [dbo].[States] ([SId], [CId], [Name]) VALUES (2, 1, N'Uttar Pradeh')
INSERT [dbo].[States] ([SId], [CId], [Name]) VALUES (3, 1, N'Punjab')
SET IDENTITY_INSERT [dbo].[States] OFF
GO