<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<AllowUntrustedCertificate>True</AllowUntrustedCertificate>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://20.41.216.234</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>ccf47787-c8ab-753d-aa40-e0a10b0bf1b8</ProjectGuid>
		<SelfContained>false</SelfContained>
		<MSDeployServiceURL>https://20.41.216.234:8172/msdeploy.axd</MSDeployServiceURL>
		<DeployIisAppPath>Default Web Site</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>Admin123</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>IISWebDeploy</_TargetId>
		<TargetFramework>net8.0</TargetFramework>
	</PropertyGroup>
</Project>