<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imagecompressionworkercs20260524145820-ezhgdhgmetc0b6c0.southindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5ce5b702-160f-49e0-bb22-a78a58a55106/resourcegroups/MyFreeGroup/providers/Microsoft.Web/sites/ImageCompressionWorkercs20260524145820</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://imagecompressionworkercs20260524145820-ezhgdhgmetc0b6c0.scm.southindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>